body {
    font-size: 12px;
    font-family: Arial;
    background: floralwhite;
}
h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: Arial;
}

h2, h3{
    text-align: center;
}

.header{
    margin-bottom: 5px;
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fields {
    width: 443px;
}

.text {
    text-align: center;
    width: 600px;
    height: auto;
}